/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  margin:0;
}
.loadBlockImg {
  position: fixed;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  width:120px;
  height:120px;
  background: url(assets/images/gears.gif);
}
